<div class="container-fluid">
  <div class="row">
    <div class="col text-center">
      <h1 class="h1">{{jiraEvent.title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h3 class="h3 text-secondary">{{jiraEvent.subtitle}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img class="img-center" src="{{jiraEvent.imageLink}}" />
    </div>
  </div>
  <div class="row mb-5">
    <div class="col text-center">
      <h1 class="h1">{{jiraEvent.text}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 mx-auto">
      <div class="row" *ngFor="let record of historyInfo">
        <div class="col-sm-2 text-center">
          <h3 class="h5">{{record.createDate | date:"dd MMMM hh:mm"}}</h3>
        </div>
        <div class="col-sm-1">
          <img src="{{record.imageLink}}" class="img-center" />
        </div>
        <div class="col-sm-9 text-center">
          <h3 class="h5">{{record.text}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
